.gallery {
	margin: 10px 50px;
}

.gallery img {
	transition: 1s;
	padding: 15px;
	width: 350px;
}

.gallery img:hover {
	filter: grayscale(1%);
	transform: scale(1.1);
}

.notify {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	margin-right: 100px;
	padding: 10px;
	border: 2px solid black;
	overflow-y: scroll;
	height: 400px;
}

.notify #head,
.notifies #head,
.notifies1 #head {
	text-align: center;
	color: red;
	font-weight: bolder;
}

.notify ul,
.notifies ul,
.notifies1 ul {
	display: flex;
	text-decoration: none;
	list-style: none;
}

.notify ul li,
.notifies ul li,
.notifies1 ul li {
	padding-right: 20px;
	padding-left: 30px;
	align-items: center;
}

.notify ul li:hover,
.notifies ul li:hover,
.notifies1 ul li:hover {
	color: green;
}

.notify .info,
.notifies .info,
.notifies1 .info {
	margin-left: 20px;
	font-weight: bold;
}

.notify .info p,
.notifies .info p,
.notifies1 .info p{
	color: green;
	font-weight: bolder;
}

.notify .info span,
.notifies .info span,
.notifies1 .info span{
	color: black;
}

.form label {
	padding-right: 20px;
	font-weight: bolder;
	margin-left: 20px;
}

.form #status {
	border-top: none;
	border-right: none;
	border-left: none;
	padding-right: 10px;
}

.form input {
	margin-left: 20px;
	font-weight: bolder;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	box-shadow: none;
}

.notifies {
	position: absolute;
	right: 0;
	top: 282px;
	margin-right: 100px;
	padding: 21.5px;
	border: 1px solid black;
}

.notifies1 {
	position: absolute;
	right: 0;
	top: 588.4px;
	margin-right: 100px;
	padding: 21.5px;
	border: 1px solid black;
}

.submit a {
	display: block;
	text-align: center;
	border-radius: 20px;
	padding: 5px;
	text-decoration: none;
	font-size: 1.5em;
	margin-top: 25px;
	position: absolute;
	border: 1px solid black;
	width: 15%;
	right: 0;
	top: 70%;
	margin-right: 175px;
	font-weight: bold;
}

.submit a:hover {
	background: #777;
	color: #fff;
}
