* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
}

/*body{
	background: url('../images/plainbg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
}
*/



.header {
	text-align: center;
	margin-top: 30px;
	padding: 10px;
}

.header h2 {
	color: #e84393;
	padding-bottom: 10px;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

.header h4 {
	font-size: 20px;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
}
/*
.c1 {
	background: url('../images/plainbg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	height: 100vh;
}*/

.below-header {
	position: absolute;
	text-align: center;
	border: 1px solid #000;
	width: 50%;
	right: 25%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
}
	
.below-header #sp1 {
	color: red;
}

.enter-text textarea{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 120px;
	height: 300px;
	width: 600px;
	resize: none;
	font-size: 18px;
	padding-left: 10px;
	border-radius: 10px;
}

.submit a{
	display: block;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	text-decoration: none;
	font-size: 1.5em;
	margin-top: 25px;
	position: absolute;
	border: 1px solid black;
	width: 10%;
	right: 45%;
	font-weight: bold;
}

.colored {
	background: pink;
}

